<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>C2C二手交易平台</title>
    <link rel="icon" href="/img/page_icon.png"/>
    <link th:href="@{/css/home_page/home_page_circle.css}" rel="stylesheet"/>
    <link th:href="@{/css/home_page/header_and_nav.css}" rel="stylesheet"/>
    <link th:href="@{/css/home_page/bottom_ifon_and_feature.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-1.3.2.min.js}"></script>
    <script th:src="@{/js/home/home_page_circle.js}"></script>
    <script th:src="@{/js/home/header_model_js.js}"></script>
</head>
<body>
<!--整体结构很明确，就是轮播图的位置用了绝对位置感觉很不好，
然后接下来那些都用了绝对位置，很尴尬-->
<header th:include="header :: copy"></header>
<div th:include="short_nav_show :: short_nav_show" class="short_nav_show"></div>
<nav th:include="my_nav :: my_nav" class="my_nav"></nav>
<div th:include="personal_nav :: personal_nav" class="personal_nav"></div>
<div class="my_slider">
    <div class="my_slide">
        <h1>为你，千千万万遍</h1>
        <p>
            12岁的阿富汗富家少爷阿米尔与仆人哈桑情同手足。然而，在一场风筝比赛后，发生了一件悲惨不堪的事，阿米尔为自己的懦弱感到自责和痛苦，逼走了哈桑，不久，自己也跟随父亲逃往美国。
            成年后的阿米尔始终无法原谅自己当年对哈桑的背叛。为了赎罪，阿米尔再度踏上暌违二十多年的故乡，希望能为不幸的好友尽最后一点心力，却发现一个惊天谎言，儿时的噩梦再度重演，阿米尔该如何抉择？
            故事如此残忍而又美丽。
            </p>
        <div class="slide_img">
            <img src="/img/home/zhuifengzhengderen.png" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>《秘密缪斯》</h1>
        <p>
            长久以来，女性在艺术史中处于被忽略的地位。她们最常出现的角色是男性画家的缪斯，她们的身体成为激发艺术家创作的灵感与源泉，但她们却成为无名的他者被遗忘。《秘密缪斯》聚焦的正是这些艺术史中的女性形象，劳蕾塔·科隆内利选取了16位女性与她们所激发的艺术的故事。<a href="https://baijiahao.baidu.com/s?id=1833240454676279411&wfr=spider&for=pc">每日一书推荐链接</a> </p>
        <div class="slide_img">
            <img src="/img/home/mimimiusi.png" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>豆瓣读书Top 500</h1>
        <p>
            豆瓣用户每天都在对“读过”的书进行“很差”到“力荐”的评价，豆瓣根据每本书读过的人数以及该书所得的评价等综合数据，通过算法分析产生了豆瓣读书 Top 250。<a href="https://book.douban.com/top250">请点击链接跳转</a>
        </p>
        <div class="slide_img">
            <img src="/img/home/douban.png" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="my_slide">
        <h1>反正电影好看得不得了</h1>
        <p>
            《哈利·波特》（HarryPotter）是英国作家J·K·罗琳（J.K.Rowling）于1997～2007年所著的魔幻文学系列小说，共7部。其中前六部以霍格沃茨魔法学校（HogwartsSchoolofWitchcraftandWizardry）为主要舞台，描写的是主人公——年轻的巫师学生哈利·波特在霍格沃茨前后六年的学习生活和冒险故事。
        </p>
        <div class="slide_img">
            <img src="/img/home/harrypotter.png" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="my_slide current">
        <h1>新浪图书榜推荐的5本值得读的新书！</h1>
        <p>
            作为《圣路易斯邮报》的专栏作家，托尼.梅森格多年来一直在镇级和市级法院记录美国穷人是如何被判定轻罪然后背上高昂罚金和费用的故事。
            如果他们无力支付，往往会被送进监狱，再被要求支付住宿费用，如此循环，很快就会形成一座可能需要很多年才能还清的债务高台。
            这些阴险的惩罚措施被用来填补地方及州预算的不足，通常由营利性公司监督，这也是刑事司法改革运动的核心问题之一。 <a href="https://tuibook.com/shudan/55057.html">书推网</a></p>
        <div class="slide_img">
            <img src="/img/home/jiangyvcheng.png" style="width: 400px;height: 270px"/>
        </div>
    </div>
    <div class="left_border">
        <span class="left_turn"></span>
    </div>
    <div class="right_border">
        <span class="right_turn"></span>
    </div>
</div>
<div class="featured_products">
    <h2>精选的商品</h2>
    <div class="products-container">
        <figure class="product" th:each="o:${shopInformationBean}">
            <div class="product_img_div">
                <img src="/img/home/feature_prodects/cont1.jpg" class="show_img" th:src="${o.image}"/>
            </div>
            <p class="show_tip" th:text="${o.remark}"></p>
            <input class="product_id" type="hidden" th:value="${o.id}"/>
            <a class="product_name" th:href="'/selectById.do?id='+${o.id}" th:text="${o.name}" th:title="${o.name}">wsk1103</a>
            <span class="product_cost" th:text="'￥'+${o.price}+'元'">$350.00</span>
            <span class="buy product_1" th:value="${o.id}">加入购物车</span>
        </figure>
    </div>
</div>
<div class="home_page_info">
    <div class="bottom_info">
        <h2>
            关于我们
        </h2>
        <p>
            该网站成立与2025年，是中南财经政法大学最大的校内二手交易网站。拥有2000万注册用户和10万注册企业和合作伙伴。日常在线活动用户约90万。交易金额最大可达1亿/日。
        </p>
    </div>
    <div class="bottom_info">
        <h2>
            团队信息
        </h2>
        <p>该网站由kzw、lb、hxh协力完成。有疑问可以发送问题至邮箱 chenhaojie11@2925.com
        </p>
    </div>
    <div class="bottom_info">
        <h2>
            版权声明
        </h2>
        <p>本网站社区发布的所有信息，都视为发布者同意本网站免费予以使用；同时本网站认为其发布的信息有侵权、违法等行为的，有权予以修改、删除或通知发布者予以纠正的权利，发布者不得阻止或拒绝。
        </p>
    </div>
</div>
<footer>
    <p>Copyright © 2025-2200.Company name All rights reserved.<a href="/"></a></p>
</footer>
</body>
</html>